@{
    ViewBag.Title = "Contact";
}
<div class="first-column">
    <h1>Contact Us</h1>
    <hr />
    <h2>Main Store and Distribution Center</h2>
    <p>Our store is located at:</p>
    <address>
        Karen's Flower Shop
        <br />
        W525 Country Road ABC
        <br />
        Indiniapolis, IN 46278
    </address>

    <br />
    <strong>Phone Number:</strong>
    <span>(317) 555-1212</span>
    <strong>Email:</strong>
    <span>hiflyers@flowershop.com</span>
</div>