@{
    ViewBag.Title = "Home Page";
}


<div id="image-show" class="none">
    <span id="x" color="red">X</span>
</div>

<div class="two-column-container">
    <div class="first-column">
        <h2 class="home-first-title">Our Shop</h2>
        <h3 class="home-third-title">Blue</h3>
        <hr />
        <div class="cards-container">

            @{ }}
            <div class="card">
                <img src="~/Content/images/blue/aster_novae_angliae/thumb.jpg" alt="Aster Novae Angliae Flower" id="image-one"/>
                <h4>Aster Novae Angliae</h4>
                <ul>
                    <li>Bright Colors</li>
                    <li>Strong Living</li>
                    <li>Made for Inside</li>
                </ul>
            </div>

            <div class="card">
                <img src="~/Content/images/blue/aster_pantens/thumb.jpg" alt="Aster Pantens Flower" id="image-two"/>
                <h4>Aster Pantens</h4>
                <ul>
                    <li>Bright Colors</li>
                    <li>Strong Living</li>
                    <li>Made for Inside</li>
                </ul>
            </div>

            <div class="card">
                <img src="~/Content/images/blue/centaurea_cyanus_peg/thumb.jpg" alt="Centaurea Cyanus Peg" id="image-three"/>
                <h4>Centaurea Cyanus Peg</h4>
                <ul>
                    <li>Bright Colors</li>
                    <li>Strong Living</li>
                    <li>Made for Inside</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="second-column">
        <p>Filter and Search functionality unavailable. <br /> Please check back soon.</p>
        <p>@ViewBag.myMessage</p> 
    </div>
</div>


