@{
    ViewBag.Title = "Home Page";
}

<h2 class="home-first-title">Our Shop</h2>
<h3 class="home-third-title">Blue</h3>

<div class="cards-container">
    <div class="card">
        <img src="../../images/blue/aster_novae_angliae/thumb.jpg" alt="aster novae angliae flower" />
        <h4>Aster Novae Angliae</h4>
        <ul>
            <li>Bright Colors</li>
            <li>Strong Living</li>
            <li>Made for Inside</li>
        </ul>
    </div>

    <div class="card">
        <img src="../../images/blue/aster_pantens/thumb.jpg" alt="Aster Pantens Flower" />
        <h4>Aster Pantens</h4>
        <ul>
            <li>Bright Colors</li>
            <li>Strong Living</li>
            <li>Made for Inside</li>
        </ul>
    </div>

    <div class="card">
        <img src="../../images/blue/centaurea_cyanus_peg/thumb.jpg" alt="Centaurea Cyanus Peg" />
        <h4>Centaurea Cyanus Peg</h4>
        <ul>
            <li>Bright Colors</li>
            <li>Strong Living</li>
            <li>Made for Inside</li>
        </ul>
    </div>
</div>
