@{
    ViewBag.Title = "Home Page";
}

<div id="image-show" class="none">
    <span id="x" color="red">X</span>
</div>


    <div class="first-column">
        <h1 class="home-first-title">Our Shop</h1>
        <h2 class="home-third-title">Blue</h2>
        <hr />

        <div class="cards-container">
            @{
                for (int i = 0; i < ViewBag.flowerCount; i++)
                {
                    <div class="card" style="border-bottom: 4px solid @ViewBag.flowerList[i].color">
                        <img src="~/Content/images/blue/@ViewBag.flowerList[i].converFlowerNameToPath(ViewBag.flowerList[i].name)/thumb.jpg" class="image-thumbnail" alt="@ViewBag.flowerList[i].name" id="image-three" />
                        <h4>@ViewBag.flowerList[i].name</h4>
                        <ul>

                            @{
                                for (int j = 0; j < ViewBag.flowerList[i].descriptions.Count; j++)
                                {
                                    <li>@ViewBag.flowerList[i].descriptions[j]</li>
                                }
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
