
@{
    ViewBag.Title = "Legal";
}
<div class="first-column">
    <h2>Legal</h2>

    <hr />

    <h3>Cookies</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Enim tortor at auctor urna nunc id cursus metus aliquam. Etiam erat velit scelerisque in dictum non. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam.
        Elit pellentesque habitant morbi tristique senectus et netus et. Nunc sed augue lacus viverra vitae congue eu consequat.
        Tristique sollicitudin nibh sit amet. Consequat nisl vel pretium lectus. Sit amet est placerat in egestas. Enim praesent elementum facilisis leo vel fringilla.
    </p>
    
    <h3>Tracking Information</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Enim tortor at auctor urna nunc id cursus metus aliquam. Etiam erat velit scelerisque in dictum non. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam.
        Elit pellentesque habitant morbi tristique senectus et netus et. Nunc sed augue lacus viverra vitae congue eu consequat.
        Tristique sollicitudin nibh sit amet. Consequat nisl vel pretium lectus. Sit amet est placerat in egestas. Enim praesent elementum facilisis leo vel fringilla.
    </p>
    
    <h3>Privacy Police</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Enim tortor at auctor urna nunc id cursus metus aliquam. Etiam erat velit scelerisque in dictum non. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam.
        Elit pellentesque habitant morbi tristique senectus et netus et. Nunc sed augue lacus viverra vitae congue eu consequat.
        Tristique sollicitudin nibh sit amet. Consequat nisl vel pretium lectus. Sit amet est placerat in egestas. Enim praesent elementum facilisis leo vel fringilla.
    </p>
</div>
