
@{
    ViewBag.Title = "Manage";
}

<div class="first-column">
    <h2>Manage</h2>
    <hr/>
    @Html.ActionLink("Manage Flowers", "Index", "ManageFlower")
    @Html.ActionLink("Manage Colors", "Index", "ManageColor")
    @Html.ActionLink("Manage Characteristics", "Index", "ManageCharacteristic")
</div>