body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

p {
    margin: 0 !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#bigWrapper {
    width: 1024px;
    margin: 0 auto;
}

.image-container {
    width: 100%;
    height: 200px;
    background-color: red;
    background-image: url(../images/flowershop_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.navbar-list {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

.navbar-list li a {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: black;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

.home-first-title {
    margin: 0;
}

.home-third-title {
    margin-top: 70px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card {
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 200px;
    text-align: center;
    padding: 25px;
    border-bottom: 4px solid #3ddc97;
}

.card img {
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    cursor: pointer;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer {
    margin-top: 50px;
    background-color: #f7f7f7;
    padding: 25px;
    display: flex;
    justify-content: center;
}

footer span {
    margin-left: 200px;
}

.two-column-container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.two-column-container hr {
    width: 100%;
    background-color: grey;
    height: 1px;
}

.first-column {
    display: flex;
    flex-flow: column;
    flex-grow: 2;
}

.second-column p {
    border-top: 4px solid #ff6b6b;
    background-color: #f7f7f7;
    padding: 20px;
    
}

#image-show {
    width: 500px;
    height: 500px;
    background-color: black;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

#image-show img {
    display: block;
    width: 100%;
    height: 100%;
}

#image-show span {
    color: white;
    position: absolute;
    right: 0;
    margin: 10px 20px 0 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
#image-show span:hover {
    color: #ff6b6b;
}

.none {
    display: none;
}